openapi: 3.1.0
info:
  title: CometAPI Unified Audio Video API
  description: CometAPI is an OpenAI-compatible aggregator that exposes a single REST surface for 500+ AI models from multiple vendors (OpenAI, Anthropic, Google, xAI, DeepSeek, Alibaba, and more). Endpoints follow OpenAI's request/response shapes for chat, embeddings, images, video, and speech, so existing OpenAI SDK clients can switch by changing only the base URL and API key.
  version: 1.0.0
  contact:
    name: CometAPI
    url: https://www.cometapi.com/
servers:
- url: https://api.cometapi.com/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Video
  description: Text-to-video, image-to-video, and video extension.
paths:
  /videos/generations:
    post:
      operationId: createVideo
      summary: Generate video
      description: Asynchronously generate a video from text or an image. Supported models include Sora, Veo, Grok, and Kling.
      tags:
      - Video
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - model
              - prompt
              properties:
                model:
                  type: string
                prompt:
                  type: string
                image:
                  type: string
                  format: uri
                duration:
                  type: integer
      responses:
        '202':
          description: Video generation job accepted; poll for completion.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: CometAPI Documentation
  url: https://apidoc.cometapi.com/
